<nav id="site-header" class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-links">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag "logo.png" %>
      <span>Bookish Knowlegde</span>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="header-links">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Pricing</a></li>
      <li class="sign-in-btn"><button class="btn btn-red">Sign In</button></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">
  <h1>Hello, world!</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <h1>We've created a platform that helps you promote your book before launch</h1>
    <h3>Create a campaign, share with your readers and build excitement!</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="logo"></div>
    <h4>Create a book page</h4>
    <p>You can easily create a promotional campaign page for your upcoming book</p>
  </div>
  <div class="col-md-4">
    <div class="logo"></div>
    <h4>Create a book page</h4>
    <p>You can easily create a promotional campaign page for your upcoming book</p>
  </div>
  <div class="col-md-4">
    <div class="logo"></div>
    <h4>Create a book page</h4>
    <p>You can easily create a promotional campaign page for your upcoming book</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Sign Up right now and get a free trial!</h1>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
  </div>
</div>